.post h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.post p {
    font-size: 20px;
    line-height: 1.6;
    color: #000000;
}

.post small {
    display: block;
    margin-top: 10px;
    font-size: 0.85em;
    color: #777;
}

.likes {
    display: block;
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.commentThreadChain {
    position: relative;
    width: 4px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(120, 134, 164);
}

.horizontalDivider {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgb(120, 134, 164);
}