.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30vw;
}

.modal-form h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.modal-form input,
.modal-form button {
    padding: 0.5rem;
    font-size: 1rem;
}

textarea {
    resize: none;
}