.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}


/* Custom scrollbar */
.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}